<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <webSocket enabled="true" />

    <rewrite>
      <rules>

        <!-- MinIO CONTROL API -->
        <rule name="MinIO_Control_API" stopProcessing="true">
          <match url="^/api/(.*)" />
          <action type="Rewrite"
            url="http://127.0.0.1:9000/api/{R:1}" />
        </rule>

        <!-- MinIO OBJECT API -->
        <rule name="MinIO_Object_API" stopProcessing="true">
          <match url="^live-face-tracker/(.*)" />
          <action type="Rewrite"
            url="http://127.0.0.1:9000/live-face-tracker/{R:1}" />
        </rule>

        <!-- MinIO CONSOLE -->
        <rule name="MinIO_Console" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite"
            url="http://127.0.0.1:9001/{R:0}" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
