<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <webSocket enabled="true" />

    <!-- ✅ ADD CORS HEADERS TO ALL RESPONSES -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS, HEAD" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With, X-Amz-*, *" />
        <add name="Access-Control-Max-Age" value="86400" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>



    <rewrite>
      <rules>

        <!-- ✅ Handle OPTIONS preflight -->
        <rule name="Preflight" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="OPTIONS" />
          </conditions>
          <action type="CustomResponse" statusCode="200" statusReason="OK" statusDescription="OK" />
        </rule>

        <!-- MinIO CONTROL API -->
        <rule name="MinIO_Control_API" stopProcessing="true">
          <match url="^minio/(.*)" />
          <action type="Rewrite"
            url="http://127.0.0.1:9000/api/{R:1}" />
        </rule>

        <!-- MinIO OBJECT API -->
        <rule name="MinIO_Object_API" stopProcessing="true">
          <match url="^live-face-tracker/(.*)" />
          <action type="Rewrite"
            url="http://127.0.0.1:9000/live-face-tracker/{R:1}" />
        </rule>

        <rule name="MinIO_facevision" stopProcessing="true">
          <match url="^facevision/(.*)" />
          <action type="Rewrite"
            url="http://127.0.0.1:9000/facevision/{R:1}" />
        </rule>

        <!-- MinIO CONSOLE -->
        <rule name="MinIO_Console" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite"
            url="http://127.0.0.1:9001/{R:0}" />
        </rule>

      </rules>
      <!-- ✅ 🔥 THIS IS THE REAL FIX -->
      
     

    </rewrite>

  </system.webServer>
</configuration>